/*Contenido de la pagina de Sedes */

@use "../utilities/extend";
@use "../utilities/variables";

main {
    .membrete--sedes {
        @extend %membretes;
    }
    .h2--sedes {
        @extend %h2--sedes;
        img {
            border-radius: 20px;
        }
    }
    .sedes {
        ul {
            li {
                @extend %li--sedes;
            }
        }
    }
    .carousel-inner {
        div {
            img {
                width: 1fr;
                height: 40vh;
                border-radius: 20px;
            }
            div {
                h2 {
                    @extend %h2--sedes;
                }
            }
        }
    }

    #tarjetas {
        .card {
            a {
                margin: 10px;

                img {
                    width: 266px;
                    height: 150px;
                    border-radius: 20px;
                }
            }
            .card-body {
                h5 {
                    @extend %li--h5--sedes;
                }
                ul {
                    li {
                        @extend %li--sedes;
                    }
                }
            }
        }

    }
}