/*Contenido de pagina de Inicio*/

@use "../utilities/extend";
@use "../utilities/mixin";

main {
    .membrete--inicio {
        @extend %membretes;
    }

    .fondo--inicio {
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas:
            "fixture"
            "jugadores"
            "sedes"
            "ganadores"
            "store"
            "contacto";

        h2 {
            @extend %h2--inicio;

            a {
                @extend %enlace-comentado;
            }
        }
        a {
            @extend %enlace-comentado;
        }

        .fixture--inicio {
            grid-area: fixture;
            @include mixin.back-image-inicio(url(/assets/img/fixture-32-jugadoreslargo.webp));
        }

        .jugadores--inicio {
            grid-area: jugadores;
            @include mixin.back-image-inicio(url(/assets/img/tenistas5largo.webp));
        }

        .sedes--inicio {
            grid-area: sedes;
            @include mixin.back-image-inicio(url(/assets/img/Estadionochelargo.webp));
        }

        .ganadores--inicio {
            grid-area: ganadores;
            @include mixin.back-image-inicio(url(/assets/img/trofeoyraquetaslargo.webp));
        }

        .store--inicio {
            grid-area: store;
            @include mixin.back-image-inicio(url(/assets/img/storelargo.webp));
        }

        .contacto--inicio {
            grid-area: contacto;
            @include mixin.back-image-inicio(url(/assets/img/LucasGhiblilargo.webp));
        }
    }
}



/*Contenido de pagina de Inicio Movil*/

@media (max-width: 991px) {
    main {
        .fondo--inicio {
            h2 {
                font-size: 40px;
                margin-top: 60px;
            }
        }
    }
}