/*Contenido de pagina de Inicio*/

@use "../utilities/extend";
@use "../utilities/mixin";
@use "../utilities/variables";

main {
    .membrete--inicio {
        @extend %membretes;
    }

    .fondo--inicio {
        h2 {
            @extend %h2--inicio;

            a {
                @extend %enlace-comentado;
            }
        }

        a {
            @extend %enlace-comentado;
        }

        .fixture--inicio {
            @include mixin.back-image-inicio(url(/assets/img/fixtureghibli500.webp));
            margin-bottom: variables.$margen-abajo;
            @extend %sombreado;
        }

        .jugadores--inicio {
            @include mixin.back-image-inicio(url(/assets/img/tenistasghibli500.webp));
            margin-bottom: variables.$margen-abajo;
            @extend %sombreado;
        }

        .sedes--inicio {
            @include mixin.back-image-inicio(url(/assets/img/estadioghibli500.webp));
            margin-bottom: variables.$margen-abajo;
            @extend %sombreado;
        }

        .ganadores--inicio {
            @include mixin.back-image-inicio(url(/assets/img/trofeoyraquetasghibli500.webp));
            margin-bottom: variables.$margen-abajo;
            @extend %sombreado;
        }

        .store--inicio {
            @include mixin.back-image-inicio(url(/assets/img/storeghibli500.webp));
            margin-bottom: variables.$margen-abajo;
            @extend %sombreado;
        }

        .contacto--inicio {
            @include mixin.back-image-inicio(url(/assets/img/LucasGhibli500.webp));
            @extend %sombreado;
        }
    }
}