/*Barra de navegacion y header para todas las paginas*/
.header {
    padding: 10px;
    .navbar {
        background-image: url(/assets/img/header.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px;
        border-radius: 20px;
        position: relative;
        .navbar-brand {
            img {
                height: 22vh;
            }
        }
        button {
            .navbar-toggler-icon {
                background-color: lch(84.14% 34.44 87.9 / 0.637);
                border-radius: 4px;

            }
        }
        div {
            .navbar-nav {
                background-color: lab(84.14% 1.26 34.41 / 0.527);
                padding: 10px;
                font-family: "Amarante", serif;
                .nav-link {
                    background-color: hsl(208, 100%, 97%);
                    border-radius: 4px;
                }
            }
        }
    }
}

/* No se a donde anidarlo porque donde lo coloque deja activo la visualizacion en responsive*/

.navbar-collapse {
    display: flex;
    justify-content: end;
    z-index: 3;
}

@media (max-width: 991px) {


}





