/*Nombres de los torneos en vistas movil*/

@media (max-width: 991px) {
    main {
        section {
            .row {
                #fixture--grilla--2da {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--2da {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--3ra {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--4ta {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--5ta {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--6ta {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--doblesmasc {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--doblesfem {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--doblesmix {
                    p {
                        opacity: 1;
                    }
                }

                #fixture--grilla--americano {
                    p {
                        opacity: 1;
                    }
                }
            }
        }
    }
}



