.navbar {
    background-image: url(/assets/img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

.nav-link {
    background-color: rgba(240, 248, 255, 0.74);
}

.navbar-toggler-icon {
    background-color: rgba(240, 248, 255, 0.74);
}

.navbar-brand img {
    height: 150px;
}

.navbar-nav {
    background-color: rgba(240, 248, 255, 0.74);
}