body {
  background: linear-gradient(-45deg, hsl(34, 82%, 63%), hsl(34, 23.8095238095%, 89.5%), hsl(34, 82%, 63%), hsl(34, 23.8095238095%, 89.5%));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Contenido de pagina de Inicio*/
main section .row #fixture--grilla--2da p, main section .row #fixture--grilla--3ra p, main section .row #fixture--grilla--4ta p, main section .row #fixture--grilla--5ta p, main section .row #fixture--grilla--6ta p, main section .row #fixture--grilla--doblesmasc p, main section .row #fixture--grilla--doblesfem p, main section .row #fixture--grilla--doblesmix p, main section .row #fixture--grilla--americano p {
  position: absolute;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  bottom: 10px;
  padding: 10px;
  font-size: 50px;
  opacity: 0;
  color: black;
}

main #store--imagenes div p {
  position: absolute;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  bottom: 60px;
  padding: 10px;
  font-size: 50px;
  opacity: 0;
  background-color: lab(63.63% 34.28 69.09 / 0.13);
  transform: rotate(-45deg);
  border-radius: 20px;
}

main .fondo--inicio .fixture--inicio, main .fondo--inicio .jugadores--inicio, main .fondo--inicio .sedes--inicio, main .fondo--inicio .ganadores--inicio, main .fondo--inicio .store--inicio, main .fondo--inicio .contacto--inicio {
  background-color: hsla(60, 56%, 91%, 0.432);
  text-align: center;
  border: 2px solid lab(48.49% 17.43 28.3);
  border-radius: 10px;
}

main .membrete--store, main .membrete--sedes, main .membrete--jugadores, main .membrete--ganadores, main .membrete--fixture, main #contacto--fondo .membrete--contacto, main .membrete--inicio {
  text-align: center;
}
main .membrete--store h1, main .membrete--sedes h1, main .membrete--jugadores h1, main .membrete--ganadores h1, main .membrete--fixture h1, main #contacto--fondo .membrete--contacto h1, main .membrete--inicio h1 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
}

main .fondo--inicio h2 {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 70px;
  font-size: 40px;
}

main .h2--sedes {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

main section .row #fixture--grilla--2da, main section .row #fixture--grilla--3ra, main section .row #fixture--grilla--4ta, main section .row #fixture--grilla--5ta, main section .row #fixture--grilla--6ta, main section .row #fixture--grilla--doblesmasc, main section .row #fixture--grilla--doblesfem, main section .row #fixture--grilla--doblesmix, main section .row #fixture--grilla--americano {
  position: relative;
}
main section .row #fixture--grilla--2da figure, main section .row #fixture--grilla--3ra figure, main section .row #fixture--grilla--4ta figure, main section .row #fixture--grilla--5ta figure, main section .row #fixture--grilla--6ta figure, main section .row #fixture--grilla--doblesmasc figure, main section .row #fixture--grilla--doblesfem figure, main section .row #fixture--grilla--doblesmix figure, main section .row #fixture--grilla--americano figure {
  overflow: hidden;
  border-radius: 20px;
}
main section .row #fixture--grilla--2da img, main section .row #fixture--grilla--3ra img, main section .row #fixture--grilla--4ta img, main section .row #fixture--grilla--5ta img, main section .row #fixture--grilla--6ta img, main section .row #fixture--grilla--doblesmasc img, main section .row #fixture--grilla--doblesfem img, main section .row #fixture--grilla--doblesmix img, main section .row #fixture--grilla--americano img {
  transition: transform 0.8s;
}
main section .row #fixture--grilla--2da:hover p, main section .row #fixture--grilla--3ra:hover p, main section .row #fixture--grilla--4ta:hover p, main section .row #fixture--grilla--5ta:hover p, main section .row #fixture--grilla--6ta:hover p, main section .row #fixture--grilla--doblesmasc:hover p, main section .row #fixture--grilla--doblesfem:hover p, main section .row #fixture--grilla--doblesmix:hover p, main section .row #fixture--grilla--americano:hover p {
  opacity: 1;
}
main section .row #fixture--grilla--2da:hover img, main section .row #fixture--grilla--3ra:hover img, main section .row #fixture--grilla--4ta:hover img, main section .row #fixture--grilla--5ta:hover img, main section .row #fixture--grilla--6ta:hover img, main section .row #fixture--grilla--doblesmasc:hover img, main section .row #fixture--grilla--doblesfem:hover img, main section .row #fixture--grilla--doblesmix:hover img, main section .row #fixture--grilla--americano:hover img {
  transform: scale(1.15);
}

main .fondo--inicio {
  background-image: url(/assets/img/cancha_tenis_doble_gradas_vertical.jpeg);
  background-size: cover;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas: "fixture" "jugadores" "sedes" "ganadores" "store" "contacto";
}
main .fondo--inicio h2 a {
  text-decoration: none;
  color: black;
}
main .fondo--inicio .fixture--inicio {
  grid-area: fixture;
}
main .fondo--inicio .jugadores--inicio {
  grid-area: jugadores;
}
main .fondo--inicio .sedes--inicio {
  grid-area: sedes;
}
main .fondo--inicio .ganadores--inicio {
  grid-area: ganadores;
}
main .fondo--inicio .store--inicio {
  grid-area: store;
}
main .fondo--inicio .contacto--inicio {
  grid-area: contacto;
}

/*Contenido de pagina de Inicio Movil*/
@media (max-width: 991px) {
  main .fondo--inicio {
    background-image: url(/assets/img/cancha_tenis_doble_gradas_horizontal.jpeg);
    background-size: cover;
    border-radius: 20px;
  }
  main .fondo--inicio h2 {
    font-size: 40px;
    margin-top: 60px;
  }
}
/*Pie de pagina y footer para todas las paginas*/
.pie-de-pagina {
  display: flex;
  background-image: url(/assets/img/header.jpg);
  height: 15vh;
  background-size: cover;
  padding: 10px;
  gap: 30px;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}
.pie-de-pagina .volver-arriba a {
  color: hsl(0, 5%, 37%);
  text-decoration: none;
  background-color: rgba(240, 248, 255, 0.74);
  border-radius: 4px;
}
.pie-de-pagina .footer {
  text-align: end;
  color: hsl(15, 5.2631578947%, 9.5%);
  font-size: 20%;
}

/*Contenido de la pagina de Contacto */
main #contacto--fondo section .container .row div figure img {
  width: 100%;
  border-radius: 20px;
  padding: 12px;
}
main #contacto--fondo section .container #resume-container {
  background: rgb(255, 255, 255);
  color: black !important;
  opacity: 1 !important;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 7px;
}
main #contacto--fondo section .container #resume-container hr {
  border-bottom: 2px solid black;
}
main #contacto--fondo section .container #resume-container header {
  background: #4caf7c;
  padding: 40px 0 20px;
  position: relative;
  z-index: 1;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
main #contacto--fondo section .container #resume-container header .resume-portfolio-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: block;
}
main #contacto--fondo section .container #resume-container header .resume-name {
  text-align: center;
  color: white;
  padding-top: 50px;
}
main #contacto--fondo section .container #resume-container header:after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
main #contacto--fondo section .container #resume-container header:after {
  bottom: 0;
  -webkit-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}
main #contacto--fondo section .container #resume-container header .contact-info {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
  color: white;
}
main #contacto--fondo section .container #resume-container header .contact-info .phone {
  margin-bottom: 20px;
}
main #contacto--fondo section .container #resume-container header .contact-info .phone a {
  color: white;
}
main #contacto--fondo section .container #resume-container header .contact-info .email {
  margin-bottom: 20px;
}
main #contacto--fondo section .container #resume-container header .contact-info .email a {
  color: white;
}
main #contacto--fondo section .container #resume-container #summary {
  padding: 50px 10px 0;
}
main #contacto--fondo section .container #resume-container #summary .summary {
  padding: 0 20px;
}
main #contacto--fondo section .container #resume-container #summary .summary .skill-text {
  text-align: center;
}
main #contacto--fondo section .container #resume-container #experience {
  padding: 0 20px;
}
main #contacto--fondo section .container #resume-container #experience h2 {
  margin: 0 !important;
}
main #contacto--fondo section .container #resume-container #experience h3 {
  margin: 0 !important;
}
main #contacto--fondo section .container #resume-container #experience h4 {
  margin: 0 !important;
}
main #contacto--fondo section .container #resume-container #experience .past-employer {
  padding: 20px 0;
}
main #contacto--fondo section .container #resume-container #education {
  padding: 0 20px;
}
main #contacto--fondo section .container #resume-container #education .past-school {
  padding: 20px 0;
}
main #contacto--fondo section .container #resume-container #education .past-school .left {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~~~~~MEDIA QUERIES~~~~
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (min-width: 992px) {
  #experience .col-md-7 {
    border-left: 2px solid black;
  }
  #education .col-md-8 {
    border-left: 2px solid black;
  }
}
@media only screen and (max-width: 990px) {
  .past-employer {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
  }
  .past-employer:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  .past-school {
    border-bottom: 1px solid #dedede;
  }
  .past-school:last-child {
    border-bottom: none !important;
  }
  #references .col-md-4 {
    margin-bottom: 20px;
  }
  #experience .employer-img {
    padding-top: 0;
    max-width: 200px;
  }
}
@media only screen and (max-width: 665px) {
  .specializations ul {
    padding-left: 0;
  }
  .skill-text {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 567px) {
  #computers ul {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 420px) {
  #extra-skills {
    display: none;
  }
}
/*Contenido de la pagina de Fixture*/
/*Nombres de los torneos en vistas movil*/
@media (max-width: 991px) {
  main section .row #fixture--grilla--2da p {
    opacity: 1;
  }
  main section .row #fixture--grilla--2da p {
    opacity: 1;
  }
  main section .row #fixture--grilla--3ra p {
    opacity: 1;
  }
  main section .row #fixture--grilla--4ta p {
    opacity: 1;
  }
  main section .row #fixture--grilla--5ta p {
    opacity: 1;
  }
  main section .row #fixture--grilla--6ta p {
    opacity: 1;
  }
  main section .row #fixture--grilla--doblesmasc p {
    opacity: 1;
  }
  main section .row #fixture--grilla--doblesfem p {
    opacity: 1;
  }
  main section .row #fixture--grilla--doblesmix p {
    opacity: 1;
  }
  main section .row #fixture--grilla--americano p {
    opacity: 1;
  }
}
/*Barra de navegacion y header para todas las paginas*/
.header {
  padding: 10px;
}
.header .navbar {
  background-image: url(/assets/img/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  border-radius: 20px;
  position: relative;
}
.header .navbar .navbar-brand img {
  height: 22vh;
}
.header .navbar button .navbar-toggler-icon {
  background-color: lch(84.14% 34.44 87.9deg / 0.637);
  border-radius: 4px;
}
.header .navbar div .navbar-nav {
  background-color: lab(84.14% 1.26 34.41 / 0.527);
  padding: 10px;
  font-family: "Amarante", serif;
}
.header .navbar div .navbar-nav .nav-link {
  background-color: hsl(208, 100%, 97%);
  border-radius: 4px;
}

/* No se a donde anidarlo porque donde lo coloque deja activo la visualizacion en responsive*/
.navbar-collapse {
  display: flex;
  justify-content: end;
  z-index: 3;
}

/*Contenido de la pagina de Jugadores */
main .fondo--jugadores {
  padding: 0px 10px;
}
main .fondo--jugadores img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  margin: 19px;
}
main .fondo--jugadores .barra {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main .fondo--jugadores .comentario {
  background-color: black;
  color: azure;
  display: flex;
  justify-content: center;
}
main .fondo--jugadores .tarjetas--jugadores .card {
  padding: 15px;
}

/*Para que la pagina de Jugadores se vea del mismo ancho en desktop que las demas paginas */
@media (min-width: 991px) {
  main .fondo--jugadores {
    padding: 0px 20px;
  }
}
/*Contenido de la pagina de Sedes */
main .carousel-inner div img {
  width: 1fr;
  height: 40vh;
  border-radius: 20px;
}
main #tarjetas .card a {
  margin: 10px;
}
main #tarjetas .card a img {
  width: 266px;
  height: 150px;
  border-radius: 20px;
}

/*Contenido de la pagina de Store */
main .comentario {
  color: white;
  background-color: black;
}
main #store--imagenes div {
  position: relative;
}
main #store--imagenes div img {
  height: 250px;
  width: 250px;
  padding: 10px;
  border: 2px solid lab(48.49% 17.43 28.3);
  border-radius: 10px;
}
main #store--imagenes div:hover {
  cursor: pointer;
}
main #store--imagenes div:hover p {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
