$imagenes: (
    imagen1: url(../../assets/img/raq11.webp),
    imagen2: url(../../assets/img/raq21.webp),
    imagen3: url(../../assets/img/raq31.webp),
    imagen4: url(../../assets/img/raq41.webp),
    imagen5: url(../../assets/img/zapa11.webp),
    imagen6: url(../../assets/img/zapa21.webp),
    imagen7: url(../../assets/img/zapa31.webp),
    imagen8: url(../../assets/img/zapa41.webp),
    imagen9: url(../../assets/img/bol11.webp),
    imagen10: url(../../assets/img/bol21.webp),
    imagen11: url(../../assets/img/pelo11.webp),
    imagen12: url(../../assets/img/pelo21.webp),    
);