@mixin back-image-inicio($fondo) {
    background-image: $fondo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 50vh;
}