@mixin back-image-inicio($fondo) {
    background-image: $fondo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border: 2px solid lch(82.95% 10.6 63.67 / 0.925);
    border-radius: 10px;
}