/*Pie de pagina y footer para todas las paginas*/

.pie-de-pagina {
    display: flex;
    background-image: url(/assets/img/header.webp);
    height: 15vh;
    background-size: cover;
    padding: 10px;
    gap: 30px;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;

    .volver-arriba {
        a {
            color: hsl(0, 5%, 37%);
            text-decoration: none;
            background-color: rgba(240, 248, 255, 0.74);
            border-radius: 4px;
        }
    }
    .footer {
        text-align: end;
        color: hwb(15 9% 90%);
        font-size: 20%;
    }
}



